doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Buscar Combinaciones
    link(href="../../css/bootstrap.css", ,="", rel="stylesheet", media="screen")
  body
    nav
      div
        div
          // <img src="img/logo.png" class="img-responsive img-rounded" alt="Responsive image">
        div
          h1 Chemixer
      div
        ul.nav.nav-tabs
          li
            a(href="#") Inicio
          li.active
            a(href="#") Combinaciones
          li
            a(href="#") Cerrar Sesi&#243;n
    section.container
      div
        .form-group
          h2 Administrador
          img.img-responsive(src="../../img/user.png", alt="Responsive image")
        form.navbar-form.navbar-left(role="search",action="/admin/combinaciones/buscarcombinacion" method="post")
          .form-group
            input.form-control(name="buscarid",type="text", placeholder="Array de combinaciones" ,required='')
          button.btn.btn-default(type="submit")
            img.img-responsive.img-rounded(src="../../img/search.png", alt="Responsive image")
    footer
      div
        h3 Footer
